<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login - HTML & CSS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link href="{{ url_for('static', filename='STYLES.CSS') }}" rel="stylesheet">
    <script type="module" defer src="{{ url_for('static', filename='google.js') }}"></script>
    <script type="module" defer src="{{ url_for('static', filename='login.js') }}"></script>

    <!--scripts-->
    <script type="module" defer src="{{ url_for('static', filename='facebook.js') }}"></script>

    <!--fevicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form>
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="email" placeholder="Email or Phone" id="email" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" required>

        <button id="submit" type="submit">Log In</button>
        <div class="social">
            <div class="go" id="google"><i class="fab fa-google"></i> Google</div>
            <div class="fb" id="facebook"><i class="fab fa-facebook"></i> Facebook</div>
        </div>

        <div class="form">
            <p>Don't have an account?
                <span> <a href="{{ url_for('register') }}">Create Account</a></span>
            </p>
        </div>
        <div id="loadingMessage">
            <div class="spinner"></div>
            Creating your avatar... Please wait.
        </div>
    </form>
    
</body>

</html>